#
#
# THIS IS A CONFIGURATION FILE TO HELP YOU GET STARTED
#
#

# specify value and unit 
system_clock          = 1 GHz         # specify value and unit  
timing                = timing        # you can use: 5 ns
system_memory         = 512 MB        # specify value and unit 
system_memory_control = DDR3_1600_8x8 


# l1 cache
l1_use_flag           = 1
l1_assoc              = 2
l1_instruction_size      = 16 kB         # specify value and unit 
l1_data_size             = 64 kB         # specify value and unit 
l1_tag_latency           = 2
l1_data_latency          = 2
l1_response_latency      = 2 
l1_mshrs                 = 4
l1_tgts_per_mshr         = 20 


# l2 cache
l2_use_flag              = 1
l2_assoc                 = 8
l2_total_size            = 256 kB        # specify value and unit  
l2_tag_latency           = 20 
l2_data_latency          = 20 
l2_response_latency      = 20
l2_mshrs                 = 20
l2_tgts_per_mshr         = 12


# change the following to where your code executable is
# specfiy any arguments if you executable takes it 
src_path_and_arg = gem5/tests/test-progs/hello/bin/x86/linux/hello

